*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/release
/captures
.externalNativeBuild

.gradle/
.idea/
build/
/opencv/.cxx/Debug/
/opencv/.cxx/tools/debug/
/opencv/native/bin/armeabi-v7a/opencv_test_calib3d
/opencv/native/bin/armeabi-v7a/opencv_test_core
/opencv/native/bin/armeabi-v7a/opencv_test_dnn
/opencv/native/bin/armeabi-v7a/opencv_test_features2d
/opencv/native/bin/armeabi-v7a/opencv_test_flann
/opencv/native/bin/armeabi-v7a/opencv_test_gapi
/opencv/native/bin/armeabi-v7a/opencv_test_highgui
/opencv/native/bin/armeabi-v7a/opencv_test_imgcodecs
/opencv/native/bin/armeabi-v7a/opencv_test_imgproc
/opencv/native/bin/armeabi-v7a/opencv_test_ml
/opencv/native/bin/armeabi-v7a/opencv_test_objdetect
/opencv/native/bin/armeabi-v7a/opencv_test_photo
/opencv/native/bin/armeabi-v7a/opencv_test_stitching
/opencv/native/bin/armeabi-v7a/opencv_test_video
/opencv/native/bin/armeabi-v7a/opencv_test_videoio
